/*--------------------------------------------------------------
# intro Section
--------------------------------------------------------------*/

#layout {
  height: 130vh;
  background-image: url(/img/subtle_bg/white-waves.png);
}

.dname {
  padding-top: 18vh;
  margin-left: 8vw;
}
.dname h1 {
  font-size: 12vh;
  font-family: "Aclonica", sans-serif;
  font-weight: 500;
  background: linear-gradient(
    90deg,
    rgba(1, 28, 0, 1) 0%,
    rgba(0, 159, 42, 1) 35%,
    rgba(1, 169, 49, 1) 56%,
    rgba(22, 111, 48, 1) 81%,
    rgba(67, 173, 79, 1) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#layout hr.veg {
  border: 0.5vh solid;
  height: 0.4vh;
  margin: 0;
  width: 80%;
  background-image: linear-gradient(
    to right,
    #ff9100,
    #ffffff,
    #ff1900,
    #ff0000
  );
}

#layout .rate {
  margin-left: 8vw;
  font-size: 5vh;
}

#layout .rate i {
  /* float: left; */
  letter-spacing: 1vw;
}

#showcase {
  margin: 2vh auto;
  width: 30vw;
  height: 60vh;
  float: left;
}

.accordion {
  float: left;
  width: 60vw;
  height: 60vh;
  margin-top: 6vh;
  margin-left: 6vw;
  box-shadow: 10px 10px 42px 5px rgba(0, 0, 0, 0.74);
}

.accordion ul {
  width: 60vw;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 15%; /* 100 / number of images */
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
  background-size: cover;
}

.accordion ul li:nth-child(1) {
  background-image: url("/img/recipes/maloo/maloo.png");
}
.accordion ul li:nth-child(2) {
  background-image: url("/img/recipes/maloo/maloo1.png");
}
.accordion ul li:nth-child(3) {
  background-image: url("/img/recipes/maloo/maloo2.png");
}
.accordion ul li:nth-child(4) {
  background-image: url("/img/recipes/maloo/maloo3.png");
}

.accordion ul:hover li,
.accordion ul:focus-within li {
  width: 13.333333%;
}
.accordion ul li:focus {
  outline: none;
}
.accordion ul:hover li:hover,
.accordion ul li:focus,
.accordion ul:focus-within li:focus {
  width: 60%;
}

.accordion ul:hover li {
  width: 13.33% !important;
}
.accordion ul:hover li:hover {
  width: 60% !important;
}

.info {
  float: right;
}
fieldset {
  font-family: sans-serif;
  border: 10px ridge #b97d10;
  background: rgb(245, 245, 245);
  border-radius: 2vh;
  padding-top: 4vh;
  padding-left: 2.5vh;
  height: 60vh;
  width: 20vw;
  margin-top: 5vh;
  margin-right: 6vw;
  line-height: 2.2;
}

fieldset legend {
  background: #6a0c0b;
  color: #fff;
  width: 6vw;
  padding: 0.1vh 0.8vw;
  font-size: 8vh;
  border-radius: 1vw;
  margin-left: 2vw;
  box-shadow: 15px 18px 25px 0px rgba(0, 0, 0, 0.75);
}

.info span {
  color: #996300;
  font-weight: 600;
}

.info label {
  font-size: 3vh;
}

/*--------------------------------------------------------------
# ingredients Section
--------------------------------------------------------------*/

#ingredients {
  height: 90vh;
  background: url(/img/subtle_bg/greek-vase.png);
}

#ingredients h2 {
  margin-left: 6vw;
  padding: 4vh;
  font-size: 12vh;
  font-family: "Rye", cursive;
  color: rgb(83, 83, 83);
}

#ingredients h2 span {
  text-decoration: underline;
  text-decoration-color: #c00;
}

#ingredients ul {
  list-style-type: none;
  margin-left: 15vw;
}

#ingredients li {
  position: relative;
  margin: 0;
  padding-bottom: 3vh;
  padding-left: 1vw;
  font-size: 3vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.2vw;
  word-spacing: 0.6vw;
}

/* The actual line being placed before each list item, tweak width and color as appropriate */
#ingredients li:before {
  background-color: #c00;
  width: 0.2vw;
  content: "";
  position: absolute;
  top: 0vh;
  bottom: 0vh;
  left: 0.25vw;
}

/* Start the line further down on the first list item */
#ingredients li:first-child:before {
  top: 2.5vh;
}

/* Stop the line short on the final list item */
#ingredients li:last-child:before {
  height: 1.8vh;
}

/* Styles for the SVG bullet points */
.bullet {
  margin-left: -1.35vw;
  width: 2vw;
  fill: rgb(0, 0, 0);
  float: left;
  padding-right: 0.6vw;
}
.bullet.big {
  width: 2vw;
  margin-left: -1.35vw;
  padding-right: 0.6vw;
}

#ingredients span {
  margin-left: 2vw;
}

/*--------------------------------------------------------------
# prep Section
--------------------------------------------------------------*/

#prep {
  height: 100vh;
}
